@value med from '../assets/breakpoints.module.css';
#hamburger:focus-visible {
  text-decoration: none;
  outline: 1px solid rgba(0, 0, 0, 0.5);
}
nav {
  position: fixed;
  left: 0;
  background-color: #f7f7f7;
  width: 100vw;
  transition: all ease-in-out 0.25s;
  display: grid;
  justify-content: flex-end;
}
ul {
  list-style: none;
  padding: 0;
  margin: 1.6rem;
  text-align: right;
}
li {
  font-size: 1.2rem;
}
#hamburger {
  float: right;
  text-align: center;
  margin: 0;
  padding-bottom: 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
  border: none;
  outline: none;
}
@media (med) {
  nav {
    top: 0;
    position: relative;
    width: 100%;
    background-color: unset;
  }
  li {
    display: inline;
    padding-left: 5.2rem;
  }
  #hamburger {
    display: none;
  }
}
