@value med from '../assets/breakpoints.module.css';
nav {
  position: fixed;
  left: 0;
  background-color: #f7f7f7;
  width: 100vw;
  transition: all ease-in-out 0.25s;
  animation: fadein 1s;
  z-index: 1000;
}
ul {
  list-style: none;
  padding: 0;
  margin: 1.6rem;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
li {
  font-size: 1.2rem;
}
#hamburger {
  padding-bottom: 1.6rem;
  width: 1.6rem;
  border: none;
  outline: none;
}
#hamburger:focus-visible {
  text-decoration: none;
  outline: 1px solid rgba(0, 0, 0, 0.5);
}
@media (med) {
  nav {
    top: 0;
    position: relative;
    width: 100%;
    background-color: unset;
    animation: none;
  }
  ul {
    display: block;
    margin: 0;
    padding-right: 22rem;
  }
  li {
    display: inline;
    padding-left: 5.2rem;
  }
  #hamburger {
    display: none;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
